<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="/js/login.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-5">
            <form class="form-group">
                Username: <input class="form-control" title="username" id="username" type="text" required>
                <br>
                Password: <input class="form-control" title="password" id="password" type="password" required>
                <br>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-5">
            <button class="btn" id="login" onclick="login()">Login</button>
            <button class="btn" id="create" onclick="create()">Create User</button>
        </div>
    </div>
</div>
</body>
</html>
